* {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}
.container {
  margin: 0 20%;
}
.pull-right {text-align: right;float: right;}
.landing-photo {
  position: relative;
  width: 100%;
}
.landing-photo-content {
  position: absolute;
  top: 15px;
  left: 0;
  width: 60%;
  font-size: 10px;
}
.mini-header {
  font-size: 9px;
  font-weight: bold;
  display: inline-block;
}
.img-landing {
  width: 100%;
}
.menu-item {
  display: inline-block;
  padding: 12px;
}
.main-header {
  font-size: 15px;
  font-weight: bold;
}
.finder {
  background-color: #9ab91e;
}
.caption {
  margin-top: 100px;
  margin-left: 300px;
  bottom: 0;
  background-color: white;
  display: inline-block;
  padding: 50px 40px;
}
.facts-list {
  background-color: #4dcadc;
  text-align: center;
  color: white;
}
.divider {
  border-top: 1px solid #9ab91e;
}
.new-arrivals {
  text-align: center;
  background-color:  white;
}
.gallery-item {
  display: inline-block;
  width: 200px;
  background-color: #f6f5f3;
  margin: 20px;
}
.gallery-item-desc {
  min-height: 70px;
}
.new-arrivals-gallery {
  padding-bottom: 80px;

}
img.arrival-img {
  width: 100%;
}
.logo-red {
  color: Gainsboro;
}
.facts {
  padding-bottom: 80px;
}
.fact {
  display: inline-block;
  padding: 20px;
  width: 120px;
}
.fact-num {
  font-size: 40px;
}
.get-inline {

}
.shelters {
  text-align: center;
}
.shelter-list {
  padding-bottom: 80px;
}
.shelter {
  display: inline-block;
  background-color: #f6f5f3;
  margin: 10px;
  padding: 30px 20px;
  width: 15%;
  font-size: 24px;
  color: white;
}
.header-title {
  text-align: center;
  font-size: 28px;
  padding: 80px 0;
  font-weight: bold;
}
footer {
  background-color: #322223;
  color: #a39e9b;
  padding-top: 60px;
}
.sub-footer {
  background-color: #1f1013;
  padding: 20px;
}
.footer-light {
  color: #fdfffe;
}
.footer-medium {
  color: #b7adac;
}
.footer-dark {
  color: #7d7c77;
}
.item {
}
.shelter {
  color: DarkGrey;
}
